astroid==3.2.4
contourpy==1.2.0
coverage==7.2.2
cycler==0.11.0
dill==0.3.8
fonttools==4.51.0
iniconfig==1.1.1
isort==5.13.2
kiwisolver==1.4.4
matplotlib==3.9.2
mccabe==0.7.0
numpy==1.26.4
packaging==24.1
pillow==10.4.0
pip==24.2
platformdirs==3.10.0
pluggy==1.0.0
ply==3.11
pylint==3.2.7
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
setuptools==75.1.0
sip==6.7.12
six==1.16.0
toml==0.10.2
tomlkit==0.11.1
tornado==6.4.1
unicodedata2==15.1.0
wheel==0.44.0
